article{
    margin: auto;
    padding: 3%;
    border-right: 2px solid #00ff40;
    border-left: 2px solid #00ff40;
}

article p{
    font-size: 100%;
}
article h1{
    font-family: cursive;
    font-size: 200%;
}

#d01{
    padding: 5%;
    border: 2px solid #00ff40;
    background-color: black;
    color: white;
}
#d02{
    padding: 5%;
    border: 2px solid #00ff40;
    background-color: black;
    color: white;
}